/*
*   cssreset start
*/

body {
    line-height: 1.4;
    color: #333;
    font-family: 'Microsoft Yahei', Tahoma, arial;
    font-size: 14px;
}

input,
textarea,
select {
    font-size: 100%;
    font-family: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
    margin: 0;
}

h4,
h5,
h6 {
    font-size: 1em;
}

ul,
ol {
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*
*   cssreset end
*/


/*
*   所有网站的通用样式开始
*/


/* ---------------------single CSS----------------------- */


/* display */

.dn {
    display: none;
}

.di {
    display: inline;
}

.db {
    display: block;
}


/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */

.bgf {
    background-color: #fff;
}


/* safe color */

.color0 {
    color: #000;
}

.color3 {
    color: #333;
}

.color6 {
    color: #666;
}

.color9 {
    color: #999;
}

.colorc {
    color: #ccc;
}

.colorf {
    color: white;
}


/* font-size */

.f0 {
    font-size: 0;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}


/* font-family */

.ffa {
    font-family: Arial;
}

.fft {
    font-family: Tahoma;
}

.ffv {
    font-family: Verdana;
}

.ffs {
    font-family: Simsun;
}

.ffw {
    font-family: 'Microsoft Yahei';
}


/* text-align */

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.ovh {
    overflow: hidden;
}


/*
*   所有网站的通用样式结束
*/


/*
*   项目网站的样式库开始
*/

html,
body {
    width: 100%;
    height: 100%;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.mt200 {
    margin-top: 200px;
}

.w100p {
    width: 100%;
}

.w880a {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
}

.lh60 {
    line-height: 60px;
}


/*
*   项目网站的样式库结束
*/


/*
*   项目网站的组件库开始
*/


/*导航栏开始*/

.commonNav {
    width: 880px;
    margin: 50px auto 0;
    font-size: 0;
}


/*
    导航栏中间的宽80,其他四个宽200,880
 */


/*
    display:inline-block;
    font-size:0;
    vertical-align:middle;
    一般一起使用
 */

.navItem {
    width: 200px;
    height: 40px;
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.navItem>a {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
}

.circleLink {
    display: inline-block;
    width: 48px;
    line-height: 48px;
    border-radius: 60px;
    text-align: center;
    letter-spacing: 3px;
}

.circleItem {
    width: 80px;
}


/*导航主题*/

nav.whiteTheme a {
    color: #fff;
}

nav.grayTheme a {
    color: #666;
}

.grayTheme .navItem.cur a {
    color: #000;
    font-weight: bold;
}

nav.whiteTheme .circleLink {
    background-color: #fff;
    color: #333;
}

nav.grayTheme .circleLink {
    background-color: #000;
    color: #fff;
}

nav.whiteTheme .navItem:nth-of-type(1) {
    border-right: 1px solid rgba(255, 255, 255, .5);
}

nav.whiteTheme .navItem:nth-last-of-type(1) {
    border-left: 1px solid rgba(255, 255, 255, .5);
}

nav.grayTheme .navItem:nth-of-type(1) {
    border-right: 1px solid rgba(0, 0, 0, .5);
}

nav.grayTheme .navItem:nth-last-of-type(1) {
    border-left: 1px solid rgba(0, 0, 0, .5);
}


/*导航栏结束*/


/*轮播图开始*/

.carouselWrap {
    width: 800px;
    margin: 0 auto;
}

.carPicList {
    position: relative;
    height: 400px;
}

.carPicList>ul,
.carPicItem,
.picItemWrap{
    height: 100%;
}
/*.carPicItem img {
    width: 100%;
}*/
.carPicItem .picbg{
    width: 100%;
    height: 400px;
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size:cover;
}
.carPicItem {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    display: none;
}
.carPicItem.cur{
    display: block;
}
.picItemWrap {
    text-align: center;
}

.leftArr,
.rightArr {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    font-size: 50px;
    color: #666;
    cursor: pointer;
}

.leftArr {
    left: -50px;
}

.rightArr {
    right: -50px;
}

.carIndexlist {
    margin-top: 20px;
    font-size: 0px;
}
.carIndexlist ol{
    text-align:center;
}
.carItemIndex {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    /*TODO*/
    width: 50px;
    /*margin-left: 20px;*/
}

.carItemIndex .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    /*TODO*/
    background-color: #999  ;
    cursor:pointer;
}
.carItemIndex.cur .circle{
    background-color: #69f;
}

/*轮播图结束*/


/*底部*/  

.abFoot {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
}


/*
*   项目网站的组件库结束
*/


/*
*   不同页面的特定样式开始
*/

.indexSection {
    width: 100%;
    height: 100%;
    background: url(../img/indexBg.jpg) 0 0 no-repeat;
    background-size: cover;
    color: #fff;
}

.indexFoot {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.indexFootMain {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 30px;
    letter-spacing: 5px;
    font-size: 16px;
}


/*歌列表开始*/

.songListPage {
    color: #000;
}

.songListItem {
    width: 33.333%;
    display: inline-block;
    vertical-align: middle;
}

.songListItem a {
    display: block;
    font-size: 16px;
    color: #000;
    line-height: 100px;
}


/*歌列表结束*/


/*
*   不同页面的特定样式结束
*/
